default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\HotelContext

    extensions:
        Imbo\BehatApiExtension:
            apiClient:
                base_uri: http://localhost
